* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Acá tengo estilos generales */  

.image-container {
    display: flex;
}

.image-container img {
    width: 100%;
}

/* Acá tengo los estilos del header */

header {
    display: flex;
    background: #115d84;
    padding: 10px 50px;
    justify-content: space-between;
    color: white;
    align-items: center;
}

#menu a {
    margin-left: 30px;
}

#menu a:hover {
    color: #28b7ff;
}

#logo-negocio {
    width: 15%;
}

#logo-negocio img {
    border-radius: 10%;
    border: 2px solid black;
}

/* Acá estan los estilos del Hero */

#hero{
    position: relative;
}

#hero #computadora {
    display: inline-block;
    width: 100%;
}

#hero .info-container {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
    padding: 0 50px;
}

#hero .info-container #foto-mia {
    width: 200px;
}

#hero .info-container #foto-mia img {
    border-radius: 30%;
}

#hero .info-container .information {
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bold;
    width: calc(100% - 200px);
}

span {
    display: inline-block;
    color: #b5b5b5;
    margin-bottom: 70px;
}

/* Acá estilos del main */

main {
    padding: 100px;
}

main .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    list-style: none;
}

main .social-icons li {
    margin-left: 10px;
}

main .social-icons .social-icon {
    display: flex;
    background: black;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

main .social-icons #Linkedin {
    background: #0A66C2;
}

main .social-icons #Twitter {
    background: #28b7ff;
}

main .social-icons #Github {
    background: #1e1f1f;
}